@model CarsCRUD.Models.Car
@using Microsoft.AspNetCore.Mvc.Localization
@using CarsCRUD.Services;
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = "Details";
}

<h1>@SharedLocalizer["Header"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label>@SharedLocalizer["CarName"]</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarName)
        </dd>
        <dt class="col-sm-2">
            <label>@SharedLocalizer["CarDesc"]</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarDesc)
        </dd>
        <dt class="col-sm-2">
            <label>@SharedLocalizer["CarPrice"]</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CarID" class="btn">@SharedLocalizer["EditButton"]</a> |
    <a asp-action="Delete" asp-route-id="@Model.CarID" class="btn">@SharedLocalizer["DeleteButton"]</a> |
    <a asp-action="Index" class="btn">@SharedLocalizer["BackButton"]</a>
</div>
