@model IEnumerable<CarsCRUD.Models.Car>
@using Microsoft.AspNetCore.Mvc.Localization
@using CarsCRUD.Services;
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = "Index";

}

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="LogOff">
        <input type="submit" value="Выход" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}

    <h1>@SharedLocalizer["Header"]</h1>


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                <h6>@SharedLocalizer["CarName"]</h6>
            </th>
            <th>
                <h6>@SharedLocalizer["CarDesc"]</h6>
            </th>
            <th>
                <h6>@SharedLocalizer["CarPrice"]</h6>
            </th>
            <th>
                <a asp-action="Create" class="btn">@SharedLocalizer["CreateButton"]</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CarName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarPrice)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CarID" class="btn">@SharedLocalizer["DetButton"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
